.input {
  text-align: center;
  display: block;
}
.block {
  text-align: center;
  list-style-type: none;
  .li {
    background-color: #808080;
    margin-bottom: 1%;
    border-color: blue;
      h3 {
        font-size: 20px;
        position: relative;
        color: black;
        text-decoration: none;
        position: relative;
        display: inline-block;
      }
      .text_change {
            text-decoration: line-through;
            color: #DCDCDC;
      }
      .off {
        float: left;
        background-color: transparent;
      }
      .off:hover {
        background: green;
      }
      .remove {
        float: right;
        background-color: transparent;
      }
      .remove:hover {
        background: red;
      }
  }
}
